@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;900&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Epilogue , sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #00ffa2;
  background-image: url('../imgs/fotoFundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  justify-content: center;
  mix-blend-mode: luminosity;
  width: 100%;
}

@import './Login.css' ;

@import './Wallet.css' ;
